<html>
    <head>
        <meta charset="UTF-8">
        <title>HowLongSinceThen</title>
        <noscript>
            Sorry...JavaScript is needed to go ahead.
        </noscript>
    </head>
    <body>
        <div>
        <h1>How long since then???</h1>
        <br>
        <h4>
        <form>
        Name: <input type="text" id="name" value="HgN"><br><br>
        Date: <input type="date" id="date" value="1996-07-03">
        Time: <input type="time" id="time" value="03:03"><br><br>
        <form>
        </h4>
        <button class = "btn btn-success" id = "button">Click here</button>
        <h4 id = "nm" ></h4>
        <h4 id = "gap_year"></h4>
        <h4 id = "gap_month"></h4>
        <h4 id = "gap_day"></h4>
        <h4 id = "gap_hour"></h4>
        <h4 id = "gap_minute"></h4>
        <h4 id = "gap_second"></h4>
        </div>
        <script src = "./ws.js" ></script>
    </body>
</html>
